.balloon-ck {
    position: fixed;
    bottom: 0;
    z-index: 9000;
}

* html .balloon-ck {
    position: absolute;
    bottom: auto;
}

#balloon_left {
    border: 0 solid #01aef0;
}

#hide_balloon_left {
    text-align: left;
    font-size: 11px;
}

#hide_balloon_left a {
    background: #01aef0;
    padding: 2px 4px;
    color: #fff;
    float: right;
}

* html .balloon-ck {
    position: absolute;
    bottom: auto;
    top: expression(
        eval
            (
                document.documentElement.scrollTop + document.docum
                    entElement.clientHeight-this.offsetHeight-(
                        parseInt(this.currentStyle.marginTop, 10) ||0
                    )- (parseInt(this.currentStyle.marginBottom, 10) ||0)
            )
    );
}

#balloon_balloon_right {
    border: 0 solid #01aef0;
}

#hide_balloon_right {
    text-align: right;
    font-size: 11px;
}

#hide_balloon_right a {
    background: #01aef0;
    padding: 2px 4px;
    color: #fff;
    float: left;
}

img.top-player {
    width: 100%;
}
#balloon_left img {
    border: 0 solid #01aef0;
}
@media only screen and (max-width: 1024px) {
    #balloon_left img {
        width: 100%;
        height: 140px;
    }
    body {
        min-width: 320px;
    }
    .balloon-ck {
        display: inherit;
    }
    div#hide_balloon_right {
        display: none;
    }
    div#float_balloon_right {
        display: none;
    }

    img.top-player {
        display: none;
        width: 100%;
    }
}
